@include media-sm {
    .main {

        &__title {
            font-size: 2rem;
        }

        &__links--items-container {
            
            &:hover .span {
                transform: translateX(30px);
            }
        }
    }

    .footer {
        margin-top: 3em;
        flex-direction: column;
    }

    .box {
        width: 200px;
        height: 250px;
    }

    .toplayer {
        width: 500px;
        left: -45%;
        animation: animatetoplayer 5s linear infinite;
    }

    @keyframes animatetoplayer {
        0%, 2.5% {
            transform: translateX(-15px);
        }
    
        5% {
            transform: translateX(-12px);
        }
    
        45% {
            transform: translateX(96%); 
        }
    
        47.5%, 50% {
            transform: translateX(98%); 
        }
    
        50.001%, 52.5% {
            transform: translateX(-100%); 
        }
    
        55% {
            transform: translateX(-100%); 
        }
    
        95% {
            transform: translateX(-10px); 
        }
    
        100% {
            transform: translateX(-10px); 
        }
    }

    .lightbar {
        left: -50%;
    }
}

@include mobile-only {
    .cursor {
        visibility: hidden;
        display: none;
    }
}